//header
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    transition: 0.3s ease-out;
    @extend %clearfix;
    @include screen('tablet') {
        position: fixed;
        width: 100%;
    }
    &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.9);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        pointer-events: none;
        z-index: -1;
        // @include screen('mobile') {
        //     height: 60px;
        // }
    }
    // mobile btn for extend
    %mobileCtrlBtn {
        width: 60px !important;
        height: 68px !important;
        position: absolute;
        top: 0px;
        display: block;
        font-size: 0em;
        padding: 15px;
        margin: 0;
        min-width: auto;
        min-height: auto;
        background: transparent;
        border: none;
        box-shadow: none;
        box-sizing: border-box;
        @include screen('tablet') {
            display: block !important;
        }
    }
    >.container {
        max-width: $container-max;
        overflow: visible;
        position: relative; // menu
        @include screen('tablet') {
            padding: 0;
        }
        .sidebarCtrl {
            display: none;
            left: 0px;
            @extend %mobileCtrlBtn;
            span {
                position: absolute;
                background: $primaryColor;
                width: 50%;
                height: 3px;
                top: 24px;
                left: 50%;
                margin-left: -25%;
                display: block;
                border-radius: 2px;
                &:nth-child(2) {
                    top: 32px;
                }
                &:nth-child(3) {
                    top: 40px;
                }
            }
        }
        // search
        .searchCtrl {
            display: none;
            right: 0px;
            font-size: 0em;
            @extend %mobileCtrlBtn;
            &:before {
                width: 100%;
                height: 100%;
                background: url(../images/basic/icon_search.png) no-repeat center center;
                background-size: 28px;
                opacity: 0.6;
                content: '';
                // position: absolute;
                // top: 10px;
                // left: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .logo {
        display: flex;
        align-items: center;
        float: left;
        margin-bottom: .25em;
        max-width: calc(100% - 250px);
        @include screen('tablet') {
            padding: 0 60px;
            width: 100%;
            max-width: 100%;
            text-align: center;
            height: 64px;
        }
        @include screen('xs_mobile') {
            flex-wrap: wrap;
        }
    }
    h1 {
        display: flex;
        align-items: center;
        //width: 400px;
        height: 60px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        margin-right: 15px;
        @include screen('tablet') {
            font-size: 1.5em;
        }
        @include screen('mobile') {
            font-size: 1em;
            height: 30px;
        }
        a {
            display: inline-flex;
            align-items: center;
            color: $color-title;
            span {
                white-space: nowrap;
            }
        }
        img {
            display: block;
            max-width: 100px;
            max-height: 60px;
            margin-right: 10px;
            @include screen('mobile') {
                max-height: 40px;
            }
            @include screen('xs_mobile') {
                transform: scale(1.1) translateY(14px);
            }
        }
    }
    .header_info {
        font-size: .938em;
        color: $color-word-light;
        text-align: left;
        @include screen('mobile') {
            font-size: .8125em;
        }
        @include screen('xs_mobile') {
            line-height: 1.2em;
            margin-left: 80px;
            span {
                white-space: nowrap;
            }
        }
        span {
            display: inline-block;
            margin-right: .5em;
        }
    }
    // 導覽列
    .navigation {
        @include screen('tablet') {
            display: none;
        }
        @extend %clearfix;
        box-sizing: border-box;
        display: flex;
        .navlist {
            flex: 1 1 auto;
            margin: 0;
            ul {
                padding: 0;
                margin: 0;
                font-size: 0.875em;
                list-style: none;
                display: flex;
                justify-content: flex-end;
            }
            li {
                flex: 0 0 auto;
                a {
                    display: block;
                    padding: 0.5em;
                    text-decoration: none;
                    color: $color-word-light;
                    &:hover {
                        color: $aHover;
                    }
                }
            }
        }
        // 字級
        .language {
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: 140px;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            align-self: center;
        }
    }
}

//search
.search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    vertical-align: top;
    font-size: 0.938em;
    height: 60px;
    //margin: 1em 0.5em;
    box-sizing: border-box;
    @include screen('tablet') {
        display: none;
    }
    label {
        font-size: 0em;
    }
    .form_grp {
        flex: 0 0 auto;
        margin: 0;
        input {
            margin: 0 0 0 0.5em;
            padding: 0.5em;
            width: auto;
            border: none;
            height: 40px;
            &[type='text'] {
                box-shadow: 1px 2px 2px -1px rgba(0, 0, 0, 0.2);
                width: 210px;
            }
            &[type='submit'] {
                min-width: auto;
                padding: 0.5em 1.5em;
                background-color: $secondaryColor;
                box-shadow: none;
                &:hover,
                &:focus {
                    background-color: darken($secondaryColor, 15);
                }
            }
            &:focus {
                box-shadow: 0 0px 0px 2px $aFocus;
            }
        }
        button,
        .btn,
        .btn-search {
            min-width: auto;
            padding: 0.2em 0.8em;
            margin: 0;
            &:hover,
            &:focus {
                box-shadow: none !important;
            }
        }
    }
    .btn_grp {
        flex: 0 0 auto;
        padding: 0 0.5em 0;
        margin: 0;
        button,
        .btn,
        .btn-search {
            min-width: auto;
            padding: 0.2em 0.8em;
            margin: 0;
            &:hover,
            &:focus {
                box-shadow: none !important;
            }
        }
    }
    .keywordHot {
        flex: 1 1 100%;
        ul {
            font-size: 0.813em;
            line-height: 1.65em;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-end;
            list-style-type: none;
            &:before {}
            li {
                margin: 0;
                padding: 0.5em;
                flex: 0 0 auto;
            }
            a {
                @include aSetting_nocolor;
            }
        }
    }
}

// m_search
.m_search {
    width: 100% !important;
    max-width: 100% !important;
    min-width: auto;
    padding: 0.8em 0.3em;
    display: block;
    height: auto;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 98;
    background: #333;
    display: none;
    margin: 0;
    label {
        font-size: 0em;
        line-height: 0;
    }
    .form_grp {
        display: flex;
        align-items: center;
        label {
            display: none;
            flex: 0 0 0%;
        }
        input {
            margin: 0.5em;
            padding: 0.5em;
            flex: 1 1 50%;
            max-width: 70%;
            &[type='submit'] {
                flex: 0 1 15%;
                margin: 0.5em;
            }
        }
        .btn,
        .btn-search {
            min-width: auto;
            padding: 0.5em 0.8em;
            margin: 0;
            flex: 1 1 20%;
            max-width: 25%;
            &:hover,
            &:focus {
                box-shadow: none !important;
            }
        }
    }
    .btn_grp {
        flex: 1 1 auto;
        padding: 0.25em 0.5em;
        border-bottom: solid 1px #444;
        box-sizing: border-box;
        text-align: right;
        .btn {
            width: auto !important;
            padding: 0.2em 0.5em !important;
            margin: 0;
            background: transparent;
            font-size: 0.875rem;
            color: #ddd;
            border: none;
            &:hover,
            &:focus {
                color: lighten($aHover, 10);
            }
        }
    }
    .keywordHot {
        flex: 1 1 100%;
        ul {
            font-size: 0.875em;
            line-height: 1.65em;
            margin: 0;
            padding: 0.5em 0 0 0.5em;
            display: flex;
            justify-content: flex-start;
            list-style-type: none;
            &:before {}
            li {
                margin: 0;
                padding: 0.5em;
                flex: 0 0 auto;
            }
            a {
                color: #fff;
                &:hover,
                &:focus {
                    color: lighten($aHover, 10);
                }
            }
        }
    }
}

// header fix
// .header.fixed {
//     position: fixed;
//     width: 100%;
//     right: 0;
//     top: 0;
//     box-shadow: rgba(0, 0, 0, 0.5) 0 0 25px;
//     background: rgba(0, 0, 0, 0.75);
//     z-index: 999;
//     &:before {
//         background: rgba(0, 0, 0, 0.35);
//     }
//     @include screen('mobile') {
//         background: #fff;
//     }
//     .menu {
//         > ul {
//             > li {
//                 > a {
//                     color: #fff;
//                 }
//             }
//         }
//     }
//     .megamenu {
//         > ul {
//             > li {
//                 > a {
//                     color: #fff;
//                 }
//             }
//         }
//     }
// }