// slick.css
@keyframes imgdynamic {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes worddynamic {
    0% {
        transform: translateX(70px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes worddynamics {
    0% {
        transform: translateX(-70px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}


/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

// 共用slick的a focus
.slick-slide {
    a {
        &:focus {
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 99;
                @include box-shadow(0px 0px 0px 2px $aFocus inset);
            }
        }
    }
}

// slick_theme.css

/* ---箭頭的樣式--- */

.slick-prev,
.slick-next {
    font-size: 0em;
    line-height: 0em;
    position: absolute;
    top: 40%;
    display: block;
    width: 40px !important;
    height: 60px !important;
    padding: 0 !important;
    min-width: auto;
    z-index: 2;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: none;
    transition: .3s ease-out;
    &:hover,
    &:focus {
        border: none !important;
        outline: none;
        box-shadow: 0px 0px 0px 2px $aFocus inset;
    }
}


/* 上一則 位置 圖片*/

.slick-prev {
    left: 25px;
    background: url('../images/slick/icon_arrow_left_green.svg') center center no-repeat RGBA(255, 255, 255, .5);
    background-size: 30px 30px;
    /* 箭頭 hover及focus 樣式 */
    &:hover,
    &:focus {
        background: url('../images/slick/icon_arrow_left_green.svg') center center no-repeat RGBA(255, 255, 255, .8);
        background-size: 30px 30px;
    }
}


/* 下一則 位置 圖片*/

.slick-next {
    right: 25px;
    background: url('../images/slick/icon_arrow_right_green.svg') center center no-repeat RGBA(255, 255, 255, .5);
    background-size: 30px 30px;
    /* 箭頭 hover及focus 樣式 */
    &:hover,
    &:focus {
        background: url('../images/slick/icon_arrow_right_green.svg') center center no-repeat RGBA(255, 255, 255, .8);
        background-size: 30px 30px;
    }
}


/* 沒有無限輪播時，滑到最兩邊資料時，箭頭暗掉 */

.slick-disabled {
    opacity: .25;
}


/* ---點的樣式---*/

// slick dots 
.slick-dots {
    position: absolute;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 9;
    list-style: none;
    box-sizing: border-box;
    li {
        position: relative;
        padding: 0;
        cursor: pointer;
        button {
            font-size: 0em;
            line-height: 0em;
            display: block;
            cursor: pointer;
            border: 0;
            outline: none;
        }
    }
}


/* ---點的位置、大小、顏色---*/

.slick-dots {
    /* 位置距離 */
    bottom: 10px;
    li {
        /* 兩點的距離 */
        margin: 0 5px;
        button {
            /* 點的顏色 */
            background: #666;
            opacity: .4;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            &:before {
                width: 12px;
                height: 12px;
            }
            &:hover,
            &:focus {
                opacity: 1;
                /* 點hover的顏色 */
                background: $aHover;
                &:before {
                    background: $aHover;
                    box-shadow: 0px 0px 0px 1px $aHover;
                }
            }
            &:focus {
                opacity: 1;
                /* 點focus的顏色 */
                background: $aFocus;
                // box-shadow: 0px 0px 0px 1px #ff3e4d; /* 讓focus過去的點大一些 */
            }
        }
        &.slick-active {
            button {
                opacity: 1;
                /* 點 active 的顏色 */
                background: $aHover;
                &:hover {
                    /* 點 active  hover的顏色 */
                    background: #ff3e4d;
                }
                &:focus {
                    /* 點 active  focus的顏色 */
                    background: #ff3e4d;
                }
                &:before {
                    background: $aHover;
                }
            }
        }
    }
}

// ---------slick._scss
// 首頁大圖輪播 
.mpSlider {
    width: 100%;
    padding-bottom: 4em;
    @include gutter(0);
    .img-container {
        margin-right: 15px;
        @include aspect-ratio(2,
        0.8);
        @media screen and (max-width: 1230px) {
            margin-right: 0;
        }
    }
    .slick-list {
        &.draggable {
            padding: 0 100px 0 0;
            @media screen and (max-width: 1230px) {
                padding: 0;
            }
        }
    }
    .slick-dots {
        bottom: 25px;
    }
    .slick-prev,
    .slick-next {
        width: 30px !important;
        height: 30px !important;
        z-index: 10;
        bottom: 20px;
        background-color: transparent;
    }
    .slick-prev {
        top: auto;
        background-size: 10px;
        @include screen('mobile') {
            //top: 35%;
            left: 2%;
        }
    }
    .slick-next {
        top: auto;
        background-size: 10px;
        @include screen('mobile') {
            //top: 35%;
            right: 2%;
        }
    }
    .wordcontent {
        max-width: 640px;
        position: absolute;
        bottom: 15%;
        left: calc((100% - 1085px) / 2);
        z-index: 1;
        color: #fff;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
        @media screen and (max-width: 1230px) {
            left: 15px;
        }
        @include screen('mobile') {
            bottom: 30px;
        }
        @media screen and (max-width: 400px) {
            bottom: 20px;
        }
        &:before {
            content: "";
            display: block;
            height: 1px;
            width: 180px;
            position: absolute;
            bottom: -20px;
            left: 0;
            background-color: #fcfcfc;
            @include screen('mobile') {
                bottom: -15px;
            }
            @media screen and (max-width: 400px) {
                bottom: -10px;
            }
        }
        &:after {
            content: "";
            display: block;
            height: 220px;
            width: 1px;
            position: absolute;
            bottom: calc(100% + 20px);
            left: 0;
            background-color: #fcfcfc;
        }
        .bigword {
            letter-spacing: 0.01em;
            font-weight: bold;
            font-size: 2.125em;
            margin-bottom: .25em;
            line-height: 1.5em;
            @include screen('mobile') {
                font-size: 1.875em;
            }
            @include screen('xs_mobile') {
                font-size: 1.5em;
            }
        }
        .smallword {
            font-size: 1em;
            line-height: 1.65em;
            letter-spacing: 0.035em;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 128px;
            @include screen('mobile') {
                //font-size: 1em;
                line-height: 1.5em;
                -webkit-line-clamp: 3;
                max-height: 72px;
            }
            @media screen and (max-width: 400px) {
                -webkit-line-clamp: 2;
                max-height: 48px;
            }
        }
    }
    .slick-slide {
        &.slick-current {
            img {
                transform: scale(1.1);
                animation-name: imgdynamic;
                animation-duration: 5s;
            }
            a {
                .wordcontent {
                    .bigword {
                        animation-name: worddynamic;
                        animation-duration: 3s;
                    }
                    .middleword,
                    .smallword {
                        animation-name: worddynamics;
                        animation-duration: 3s;
                        animation-timing-function: ease-in;
                    }
                }
            }
        }
    }
}

.news_slider {
    .slick-prev {
        left: -65px;
        @include screen('xs_mobile') {
            left: -20px;
        }
    }
    .slick-next {
        right: -65px;
        @include screen('xs_mobile') {
            right: -20px;
        }
    }
}

// slick._scss
// adSlider
.adSlider {
    @include gutter(70px);
    margin-bottom: 20px;
    @include screen('mobile') {
        @include gutter();
    }
    .slick-prev {
        background: url(../images/slick/icon_arrow_left.svg) no-repeat center center;
        background-size: 40%;
        left: -15px;
    }
    .slick-next {
        background: url(../images/slick/icon_arrow_right.svg) no-repeat center center;
        background-size: 40%;
        right: -15px;
    }
    a {
        display: block;
        text-align: center;
        img {
            margin: 0 auto;
        }
    }
    .img-container {
        width: 200px;
        max-height: 120px;
        background-color: transparent;
        margin: 0 auto;
        &:focus {
            &:before {
                content: "";
                position: absolute;
                z-index: 9;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                box-shadow: 0 0px 0px 3px $primaryColor inset;
            }
        }
    }
}

//  slick燈箱
.lightbox_slider {
    h3 {
        font-size: 1.5em;
        padding: 12px 0px 15px 0px;
        margin: 0.5em 0px 1.2em;
        border-bottom: 1px solid $primaryColor;
    }
    background: #fff;
    padding: 1em 0;
    clear: both;
    .cp_slider {
        @include gutter;
    }
    .img-container {
        margin: 0px 15px;
        @include aspect-ratio(4,
        3);
        overflow: hidden;
        img {
            object-fit: contain;
        }
    }
    .caption {
        padding: .5em !important;
        position: absolute;
        background: rgba(0, 0, 0, .75) !important;
        color: #FFF;
        bottom: -2em !important;
        left: 0;
        font-size: .938em !important;
        height: 2em !important;
        line-height: 1 !important;
        width: 100%;
        @include text-overflow;
        transition: .3s ease-out;
    }
    // dots
    .slick-dots {
        bottom: -30px !important;
        @include screen('mobile') {
            bottom: -40px !important;
            padding: 0;
        }
        li {
            width: 10px;
            height: 10px;
            margin: 0 10px;
        }
    }
    //Arrows
    .slick-prev {
        left: -1 * $grid-gutter-width/2;
    }
    .slick-next {
        right: -1 * $grid-gutter-width/2;
    }
    a {
        color: #555;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &:hover,
        &:focus {
            .caption {
                bottom: 0 !important;
            }
        }
    }
}

// 
// slick燈箱
.lightbox_slider_block {
    h3 {
        font-size: 1.5em;
        padding: 12px 0px 15px 0px;
        margin: 0.5em 0px 1.2em;
        border-bottom: 1px solid $primaryColor;
    }
    background: #fff;
    padding: 1em 0;
    clear: both;
    .cppic_slider {
        @include gutter;
    }
    .img-container {
        margin: 0px 15px;
        @include aspect-ratio(4,
        3);
        overflow: hidden;
        img {
            object-fit: contain;
        }
    }
    .caption {
        padding: .5em !important;
        position: absolute;
        background: rgba(0, 0, 0, .75) !important;
        color: #FFF;
        bottom: -2em !important;
        left: 0;
        font-size: .938em !important;
        height: 2em !important;
        line-height: 1 !important;
        width: 100%;
        @include text-overflow;
        transition: .3s ease-out;
    }
    // dots
    .slick-dots {
        bottom: -60px;
        li {
            width: 10px;
            height: 10px;
            margin: 0 10px;
        }
    }
    //Arrows
    .slick-prev {
        // left: -1 * $grid-gutter-width/2;
        left: -10px;
        top: 35%;
    }
    .slick-next {
        // right: -1 * $grid-gutter-width/2;
        right: -10px;
        top: 35%;
    }
    a {
        color: #555;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &:hover,
        &:focus {
            .caption {
                bottom: 0 !important;
            }
        }
    }
}


/*  slick-lightbox  */

.slick-lightbox {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background: black;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    .slick-loading .slick-list {
        background-color: transparent
    }
    .slick-prev {
        left: 5px;
        background: url(../vendor/slick/icon_arrow_left.png) center center no-repeat;
        background-size: 80%;
        z-index: 9;
    }
    .slick-next {
        right: 5px;
        background: url(../vendor/slick/icon_arrow_right.png) center center no-repeat;
        background-size: 80%;
        z-index: 9;
    }
}

.slick-lightbox-hide {
    opacity: 0;
    &.slick-lightbox-ie {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0)
    }
}

.slick-lightbox-hide-init {
    position: absolute;
    top: -9999px;
    opacity: 0;
    &.slick-lightbox-ie {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0)
    }
}

.slick-lightbox-inner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.slick-lightbox-slick-item {
    text-align: center;
    overflow: hidden;
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
    }
}

.slick-caption-bottom .slick-lightbox-slick-item .slick-lightbox-slick-item .slick-lightbox-slick-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.slick-caption-dynamic .slick-lightbox-slick-item .slick-lightbox-slick-item .slick-lightbox-slick-caption {
    display: block;
    text-align: center;
}

.slick-lightbox-slick-item-inner {
    display: inline-block;
    vertical-align: middle;
    max-width: 90%;
    max-height: 90%;
}

.slick-lightbox-slick-img {
    margin: 0 auto 1em;
    display: block;
    max-width: 90%;
    max-height: 90%;
}

.slick-lightbox-slick-caption {
    margin: 20px 0 0;
    color: white;
    @extend %clearfix;
}

.slick-lightbox-close {
    position: fixed;
    top: 10px;
    right: 10px;
    display: block;
    height: 45px;
    width: 45px;
    line-height: 0;
    font-size: 0em;
    cursor: pointer;
    background: transparent;
    color: transparent;
    padding: 0;
    border: none;
    min-width: auto;
    &:focus {
        outline: none;
    }
    &:before {
        content: "";
        height: 6px;
        width: 32px;
        transform: rotate(45deg);
        position: absolute;
        top: 18px;
        background: #DDD;
        left: 6px;
        transition: .3s all ease-out;
    }
    &:after {
        content: "";
        height: 6px;
        width: 32px;
        transform: rotate(-45deg);
        position: absolute;
        top: 18px;
        background: #DDD;
        left: 6px;
        transition: .3s all ease-out;
    }
    &:hover,
    &:focus {
        background: none;
        margin-top: 0;
        border: none;
        &:before,
        &:after {
            background: #FFF;
        }
    }
}

//  同步輪播
.Syncing_slider {
    @extend %clearfix;
    position: relative;
    h3 {
        font-size: 1.5em;
        padding: 12px 0px 15px 0px;
        margin: 0.5em 0px 1.2em;
        border-bottom: 1px solid $primaryColor;
    }
    .slick-slide {
        position: relative;
    }
    .controls {
        text-align: center;
        font-weight: bold;
        max-width: 100px;
        color: #FFF;
        padding: .2em .5em;
        margin: 0px auto;
        background: $primaryColor;
        border-radius: 20px;
        text-shadow: 1px 1px 2px RGBA(0, 0, 0, .8);
    }
    .img-container {
        @include aspect-ratio(16,
        9);
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            object-fit: cover;
        }
    }
    p {
        position: absolute;
        background: RGBA(0, 0, 0, .55);
        text-align: center;
        color: #FFF;
        padding: .5em;
        box-sizing: border-box;
        @include text-overflow;
        bottom: 0px;
        width: 100%;
        height: 2.5em;
        line-height: 1.5em;
        margin: 0px;
        z-index: 2;
        @include screen('mobile') {
            display: none;
        }
    }
    .slick-next {
        background: url(../vendor/slick/icon_arrow_right.png) center center no-repeat;
        background-size: 80%;
        @include screen('mobile') {
            right: .5em;
        }
    }
    .slick-prev {
        background: url(../vendor/slick/icon_arrow_left.png) center center no-repeat;
        background-size: 80%;
        @include screen('mobile') {
            left: .5em;
        }
    }
    .Slider-for {
        width: 80%;
        min-width: 260px;
        max-width: 800px;
        margin: 1em auto;
        position: relative;
    }
    .Slider-nav {
        width: 80%;
        min-width: 260px;
        max-width: 800px;
        margin: 1em auto;
        position: relative;
        .img-container {
            p {
                display: none;
            }
        }
        /*正在動作的縮圖*/
        .slick-slide.slick-current {
            opacity: 1;
        }
        position: relative;
    }
    .slick-dots {
        display: none !important;
    }
}