@charset "utf-8";
// 文章標題
h1.title,
h2.title {
  line-height: 1.25em;
  margin: 0.4em 0;
}

// .tt{ color: #222; }
.cp {
  .sub_menu2 {
    margin-bottom: 2em;

    li {
      flex-basis: calc(11.11111% - 10px);
      @include screen('tablet') {
        flex-basis: calc(20% - 10px);
      }
      @include screen('xs_mobile') {
        flex-basis: calc(33.33333% - 10px);
      }
      a {
        padding-bottom: 0;
        // &:hover,
        // &:focus,
        // &.active {
        //   .caption {
        //     bottom: 35%;
        //   }
        //   &::before {
        //     background: linear-gradient(180deg, rgba(24, 130, 117, 0.5) 10%, rgba(7, 87, 77, 1) 80%);
        //   }
        //   &::after {
        //     bottom: 8px;
        //   }
        // }
        // &::after {
        //   width: 20px;
        //   height: 20px;
        //   left: calc(50% - 10px);
        //   border-width: 1px;
        // }
        // &::before {
        //   opacity: 1;
        // }
        .img-container {
          @include aspect-ratio(1, 1);
          // @include screen('tablet') {
          //   @include aspect-ratio(1, 1);
          // }
          // @include screen('mobile') {
          //   @include aspect-ratio(2, 1);
          // }
          @include screen('xs_mobile') {
            @include aspect-ratio(2.5, 1);
          }
        }
        .caption {
          padding: 5px;
          line-height: 1.5;
          letter-spacing: 0;
          font-size: 1rem;
          white-space: normal;
          text-overflow: initial;
        }
      }
    }
    .menu_banner {
      max-width: 1200px;
      .img-container {
        @include aspect-ratio(3.8, 1);
        img {
          object-fit: cover;
        }
      }
    }
  }
  .pic {
    float: left;
    margin: 0px 1em 1em 0;
    width: auto;
    width: 45%;
    max-width: 400px;
    background: #f1f1f1;
    overflow: hidden;
    padding: 0.5em 0.5em 0.2em;
    img {
      float: none;
      width: 100%;
      margin: 0;
      display: block;
    }
    span {
      text-align: center;
      display: block;
      font-size: 0.938em;
    }
    @include screen('mobile') {
      float: none;
      max-width: 100%;
      width: auto;
      margin: 0px auto;
      display: block;
      margin-bottom: 0.5em;
    }
  }
  table {
    background: #fff;
  }
  img {
    &.float_left {
      float: left;
      margin: 0px 1em 1em 0;
      width: auto;
      max-width: 55%;
      @include screen('mobile') {
        float: none;
        max-width: 100%;
        margin: 0px auto;
      }
    }
    &.float_right {
      float: right;
      margin: 0px 0 1em 1em;
      width: auto;
      max-width: 55%;
      @include screen('mobile') {
        float: none;
        max-width: 100%;
        margin: 0px auto;
      }
    }
  }
  a {
    @include aSetting;
  }
}

// 檔案下載
.file_download {
  width: 100%;
  margin: 0 auto 2em;
  @include clearfix();
  h3 {
    font-size: 1.5em;
    padding: 12px 0px 15px 0px;
    margin: 0.5em 0px 0.2em;
    border-bottom: 1px solid $primaryColor;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    counter-reset: num;
  }
  li {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0.5em 0 0.5em 1.5em;
    border-bottom: solid 1px #eee;
    &:before {
      //content: '·';
      counter-increment: num;
      content: counters(num, '.') '.';
      font-size: 1em;
      //font-weight: bold;
      // width: 1em;
      // height: 1em;
      position: absolute;
      top: 0.5em;
      left: 0.1em;
      color: #666;
    }
    .file_name {
      line-height: 1.8em;
      margin: 0.2em 0.5em 0.2em 0;
      color: #222;
      // ~span {
      //     flex: 0 0 auto;
      //     margin: .2em;
      //     font-size: .875em;
      //     line-height: 1.5em;
      //     vertical-align: middle;
      //     color: #666;
      //     a {
      //         color: #fff;
      //         display: inline-block;
      //         margin-right: 8px;
      //     }
      // }
    }
    .file_type {
      color: #fff;
      display: inline-block;
    }
    $fileType: doc, docx, odt, xls, xlsx, csv, ods, ppt, pptx, odp, zip, txt, mov, mp3, jpg, wmv, mp4, pdf, other;
    @each $fileType in $fileType {
      .file_#{$fileType} {
        .file_type {
          color: #fff;
          font-weight: bold;
          padding: 0.2em 0.8em;
          border-radius: 3px;
          &:hover,
          &:focus {
            color: #fff;
          }
        }
      }
    }
    a {
      &.file_doc,
      &.file_docx,
      &.file_odt {
        .file_type {
          background: #275cb7;
        }
        &:hover,
        &:focus {
          .file_type {
            background: darken(#275cb7, 5%);
          }
        }
      }
      &.file_xls,
      &.file_xlsx,
      &.file_csv,
      &.file_ods {
        .file_type {
          background: #387947;
        }
        &:hover,
        &:focus {
          .file_type {
            background: darken(#387947, 5%);
          }
        }
      }
      &.file_ppt,
      &.file_pptx,
      &.file_odp,
      &.file_pdf {
        .file_type {
          background: #c55a3b;
        }
        &:hover,
        &:focus {
          .file_type {
            background: darken(#c55a3b, 5%);
          }
        }
      }
      &.file_pdf {
        .file_type {
          background: #c00;
        }
        &:hover,
        &:focus {
          .file_type {
            background: darken(#c00, 5%);
          }
        }
      }
      &.file_zip {
        .file_type {
          background: #eb712e;
        }
        &:hover,
        &:focus {
          .file_type {
            background: darken(#eb712e, 5%);
          }
        }
      }
      &.file_txt,
      &.file_other {
        .file_type {
          background: #555;
        }
        &:hover,
        &:focus {
          .file_type {
            background: darken(#555, 5%);
          }
        }
      }
      &.file_mov {
        .file_type {
          background: #009999;
        }
        &:hover,
        &:focus {
          .file_type {
            background: darken(#009999, 5%);
          }
        }
      }
      &.file_mp3,
      &.file_mp4 {
        .file_type {
          background: #088ecc;
        }
        &:hover,
        &:focus {
          .file_type {
            background: darken(#088ecc, 5%);
          }
        }
      }
      &.file_jpg {
        .file_type {
          background: #6c29a4;
        }
        &:hover,
        &:focus {
          .file_type {
            background: darken(#6c29a4, 5%);
          }
        }
      }
      &.file_wmv {
        .file_type {
          background: #430a1f;
        }
        &:hover,
        &:focus {
          .file_type {
            background: darken(#430a1f, 5%);
          }
        }
      }
    }
  }
}

// 外部連結
.web_link {
  margin: 1em 0;
  @extend %clearfix;
  h3 {
    font-size: 1.5em;
    padding: 12px 0px 15px 0px;
    margin: 0.5em 0px 0.2em;
    border-bottom: 1px solid $primaryColor;
  }
  ol,
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    position: relative;
    padding: 0.5em 0;
    border-bottom: solid 1px #eee;
    padding-left: 1.5em;
    &:before {
      content: '·';
      font-size: 2em;
      font-weight: bold;
      width: 1em;
      height: 1em;
      position: absolute;
      top: 0.35em;
      left: 0.1em;
      color: #666;
    }
    a {
      padding: 0.2em 0px;
      display: block;
      @include aSetting_nocolor;
    }
  }
}

.publish_info {
  font-size: 0.875em;
  line-height: 1.5em;
  list-style: none;
  margin: 0 0 0.7em 0;
  border-left: solid 5px $primaryColor;
  padding: 0.8em 1.5em 0.8em;
  background: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  @extend %clearfix;
  box-sizing: border-box;
  li {
    flex: 1 1 calc(100% / 3);
    margin-bottom: 0.5em;
    @include screen('tablet') {
      flex: 1 1 calc(100% / 2);
    }
    @include screen('mobile') {
      flex: 1 1 calc(100% / 1);
    }
  }
}
